
/** body satting **/
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding:0px;
    background-color:#f8f8f8;
color:#333;
padding-bottom:50px;

}
/** body End **/
/** main header section start**/
.main-header{
    background-color:#007bff;
    color:white;
    padding:20px 30px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    box-shadow: 10px 10px 15px 0px  rgba(0,0,0,0.1);
}
.main-header h1{
    font-size:1.5em;
    margin:0;
   
}
.main-header h1:hover{
    color: black;
    cursor: pointer;
}
.main-header nav a{
    color:white;
    margin-left:25px;
    padding:5px 10px;
    border-radius: 4px;
 text-decoration: none;
 font-size: 20px;

}
.main-header nav a:hover{
    background-color:#9dc1e7;
    color: #070707;
    
}

/** main header section End **/

/** main content section start**/
.main-content{
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
   gap:30px;
  
}

.content-1{
    flex:1;
    background-color: rgb(209, 116, 116);
    padding:25px;
    border-radius: 8px;
     box-shadow: 0px 2px 6px 0px rgb(84, 82, 82);
}

.content-1 h2{
    text-align:center;
    margin-top: 0px;
    text-transform:capitalize;
    font-size: 35px;
}
.content-1 h2::selection{
    color: red;
}

.Contact-form label{
    padding: 0px 10px;
    color: #070707;
    display: block;
    margin: 15px 0px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
}
.Contact-form input{

width: 95%; 
 padding: 10px;
border-radius: 10px;
border:2px solid #ccc;
font-size: 15px;
cursor: pointer;

}
.Contact-form input:focus{
    outline:none;
    border-color :#0c0c0d;
}
    

.Contact-form button{

    margin: 20px 0px;
    padding:10px 20px;
    font-size: 20px;
    background-color: #333;
color: white;
    border-radius: 10px;
    
  
}
.Contact-form button:hover{
    background-color: rgb(209, 116, 116) ;
    cursor: pointer;
}

/** main content section End **/


/** content-2 section start**/
.content-2{
    flex:1;
    background-color: #e9ecef;
    border-radius: 8px;
   
}
.content-2 ul{
    list-style: none;
    padding: 0px;
}
.content-2 li{
    padding:8px 0px;
}
.content-2 h2{
    text-align: center;
    text-transform:uppercase;
    font-size: 500;
}

/** content-2 section End **/
/** main -footer section start**/
.main-footer{
    background-color: #343a40;
    color:white;
    text-align: center;
   padding: 20px 30px;
}
/** main -footer section End **/